#football{
	background: linear-gradient(90deg,rgba(0, 72, 248, 1) 0%, rgba(0, 46, 200, 1) 50%, rgba(0, 29, 169, 1) 100%);
}
#league-title, #football-view-combobox-hl{
	width: 100%;
	font-size: 78px;
	text-align: center;
	color: #FFFFFF;
	/*
	background: linear-gradient(90deg,rgba(0, 72, 248, 1) 0%, rgba(0, 46, 200, 1) 50%, rgba(0, 29, 169, 1) 100%);
	*/
	line-height: 90px;
}
.match-view-vl{
	border-style: solid;
    border-color: #000000;
    border-width: 5px;
}
.season-and-queue-div, .football-view-combobox{
	width: 50%;
	text-align: center;
	font-size: 42px;
	color: #FFFFFF;
	line-height: 50px;
	/*
	background: linear-gradient(90deg,rgba(0, 72, 248, 1) 0%, rgba(0, 46, 200, 1) 50%, rgba(0, 29, 169, 1) 100%);
	*/
}
.match-div{
	width: 47.5%;
    height: 125px;
    font-size: 42px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
   
}
.vs-div{
	width: 5%;
	font-size: 36px;
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.score-div{
	width: 50%;
    text-align: center;
    font-size: 48px;
}
.clubs-results-hl{
	width: 100%;
}
.date-div{
	width: 100%;
    text-align: center;
    font-size: 64px;
}
.iswin-div{
	width: 100%;
    text-align: center;
    font-size: 64px;
}
#bell-vertical-div{
	width:30px;
	height: 100%;
	background-color: #000000;
}
#bell-horizontal-div{
	width:100%;
	height: 30px;
	background-color: #000000;
}
#exercise-details-layout{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.exercise-details-reps-container{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
