html{
	--lumo-space-xs:0;
	--lumo-space-s:0;
	--lumo-space-l:0;
	--lumo-space-m:0;
	--lumo-space-l:0;
	--lumo-space-xl:0;
}
vaadin-app-layout{
  	max-width: 100%;
}
vaadin-app-layout::part(drawer){
	width: 8%
}
vaadin-app-layout::part(navbar) {
}
#date-span{
	font-size: 80pt;	
	color: #0000DD;
}
#main-vl{
	background-color: #555556;
}
#time-hl{
	margin: 0;
	top:0;
	left:0;
	right:0;
	height: 25%;
	width: 100%;
	background-color: #222200;
}
.bar-circle{
	margin-top: 10px;
	height: 60%;
	width: 12.5%;
	margin-left: 150px;
	margin-right: 50px;
}