html{
	--lumo-space-xs:0;
	--lumo-space-s:0;
	--lumo-space-l:0;
	--lumo-space-m:0;
	--lumo-space-l:0;
	--lumo-space-xl:0;
}
vaadin-app-layout{
  	max-width: 100%;
}
vaadin-app-layout::part(drawer){
	width: 8%
}
vaadin-app-layout::part(navbar) {
}
#date-span{
	font-size: 80pt;	
	color: #0000DD;
}
#top-main-page{
	background-color: #555556;
	height:10%;
	width: 100%;
	display: flex;
}
.barAndLabel-vl{
	width: 50%;
	font-size: 20pt;
	color: #0000DD;
	display: flex;
	justify-content: center;
	align-items: center;
}
#time-hl{
	margin: 0;
	top:0;
	left:0;
	right:0;
	height: 25%;
	width: 100%;
	background-color: #222200;
}
.bar-label{
	font-size: 40pt;
	
}
.bar{
	margin-top: 25px;
	height: 10%;
	width: 40%;
	margin-left: 150px;
	margin-right: 50px;
}
vaadin-side-nav-item{
	height:	200px;
	display: flex;	
}

vaadin-side-nav-item > img{
	scale:100%;
}