#training-calendar-summary{
	width: 100%;
	height: 50px;
	background: #FF0000;
}
#training-calendar-summary-settigns{
	width: 100%;
	height: 100px;
	background: #adedff;
	display: flex;
	justify-content: center;
	align-items: center;
}
.combo-box-TCS-settings{
	width: 300px;
	font-size: 48px;
	margin-left: 75px;
	
}
#trainings-label-TCS-settings{
	font-size: 48px;
    color: #0000DD;
    margin-right: 300px;
    margin-left: 50px;
}
#training-button-TCS-settings{
	height: 75px;
	font-size: 48px;
    color: #0000DD;
    margin-right: auto;
    margin-left: 150px;
    background: #009900;
}
.calendar-day-label-no-trening{
	background: #FF0000;
	height: 60px;
	width: 60px;
	font-size: 28px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	color: #000000;
}
.calendar-day-label-trening{
	background: #00DD00;
	height: 60px;
	width: 60px;
	font-size: 28px;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	color: #000000;
}
#calendar-weeks{
	width: 50%;
    background: #99d299;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calendar-week{
	padding-left: auto;
	padding-right: auto;
}
.calendar-date-label{
	margin-left: 25px;
    font-size: 22px;
    width: 150px;
    	display: flex;
    justify-content: space-around;
    align-items: center;
}
.calendar-duration-label{
	margin-right: 25px;
    font-size: 28px;
    width: 150px;	
    	display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Mounth */
.training-calendar-mounth-data{
	color: #0000DD;
    font-size: 28px;
    margin-left: 50px;
    height: 50px;
}
#training-calendar-mounth{
	width: 100%;
    height: 300px;
    background: #99d299; 
}
#training-calendar-mounth-number-of-trainings{
	
}
#training-calendar-mounth-total-duration{
	
}
#training-calendar-mounth-total-reps{
	
}
#training-calendar-mounth-total-weight{
	
}
#training-calendar-mounth-month-year{
	
}
.calendar-day-label-trening-selected{
	border: 5px solid #0000DD;
	padding: 0px;
}