@import url('./styles/home-page.css');
#home{
	position: relative;
	background-color: #555555;
	height: 100vh;
	width: 100vw;
}
#welcome-div{
	display: flex;
	position: absolute;
	height: 10vh;
	width: 50vw;
	top: 17.5%;
	left: auto;
	right: auto;
	color: #0000DD;
	font-size: 20vh;
	font-weight: 3500;
	justify-content: center;
	align-items: center;
	align-self: center;
}
#enter-button{
	display: flex;
	position: absolute;
	height: 10vh;
	width: 20vw;
	top: 45%;
	left: auto;
	right: auto;
	font-size: 8vh;
	color: #0000DD;
	background-color: #00DD00;
	justify-content: center;
	align-items: center;
	align-self: center;
}
#enter-button:hover{
	display: flex;
	position: absolute;
	height: 10vh;
	width: 20vw;
	top: 45%;
	left: auto;
	right: auto;
	font-size: 8vh;
	color: #00DD00;
	background-color: #0000DD;
	justify-content: center;
	align-items: center;
	align-self: center;
}
