#exercise-details-vl{
	background: #adedff;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#exercise-details-title{
	width: 30%;
	font-size:48px;
	color: #0000DD;
}
#exercise-details-combobox{
	width: 60%;	
	font-size:34px;
}